@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
    /*strict #1*/
    /*--background-color: #131217;*/
    /*--panel-color: #191B1F;*/
    /*--panel-border-color: #2C2C30;*/
    /*--line-color: lightgray;*/
    /*--text-color-inactive: #A0A2A6;*/
    /*--text-color-active: #F3F2F6;*/
    /*--sidebar-navigation-item-background-color: #1D1C23;*/
    /*--sidebar-navigation-item-active-border-color: lime;*/
    /*--header-background-color: #080808;*/
    /*--input-field-background-color: #212225;*/
    /*--content-section-background-color: #0D0C0F;*/
    /*--content-section-background-color-active: var(--content-section-background-color);*/


    /*medium clown*/
    /*--background-color: #13192C;*/
    /*--panel-color: #181E30;*/
    /*--panel-border-color: var(--panel-color);*/
    /*--line-color: lightgray;*/
    /*--text-color-inactive: #C0C2C6;*/
    /*--text-color-active: #F3F2F6;*/
    /*--sidebar-navigation-item-background-color: #15242E;*/
    /*--sidebar-navigation-item-active-border-color: lime;*/
    /*--header-background-color: var(--panel-color);*/
    /*--input-field-background-color: var(--panel-color);*/
    /*--content-section-background-color: var(--background-color);*/
    /*--content-section-background-color-active: var(--content-section-background-color);*/


    /*clown*/
    --background-color: #1B1A43;
    --panel-color: #141432;
    --panel-border-color: var(--panel-color);
    --line-color: lightgray;
    --text-color-inactive: #B0B2B6;
    --text-color-active: #F3F2F6;
    --sidebar-navigation-item-background-color: #27344F;
    --sidebar-navigation-item-active-border-color: lime;
    --header-background-color: var(--panel-color);
    --input-field-background-color: var(--panel-color);
    --content-section-background-color: #292857;
    --content-section-background-color-active: #33325F;


    /*strict #2*/
    /*--background-color: #131217;*/
    /*--panel-color: #191B1F;*/
    /*--panel-border-color: var(--panel-color);*/
    /*--line-color: lightgray;*/
    /*--text-color-inactive: #A0A2A6;*/
    /*--text-color-active: #F3F2F6;*/
    /*--sidebar-navigation-item-background-color: #1D1C23;*/
    /*--sidebar-navigation-item-active-border-color: lime;*/
    /*--header-background-color: var(--panel-color);*/
    /*--input-field-background-color: var(--panel-color);*/
    /*--content-section-background-color: #0D0C0F;*/
    /*--content-section-background-color-active: var(--content-section-background-color);*/
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
}

body {
    background-color: var(--background-color);
    color: var(--text-color-inactive);
    display: flex;
    flex-direction: row;
}


.sidebar {

}

.sidebar__logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 20px;
    padding-left: 45px;
}

.sidebar__logo img {
    width: 155px;
}

.sidebar__navigation {
    margin: 60px 0 0 0;
    width: 400px;
}

.sidebar__navigation__list {
    list-style: none;
}

.sidebar__navigation__item {
    margin-bottom: 5px;
    min-width: 150px;
    font-size: 18px;
    padding: 15px;
}

.sidebar__navigation__item:hover {
    color: var(--text-color-active);
    background-color: var(--sidebar-navigation-item-background-color);
    border-left: 2px solid var(--sidebar-navigation-item-active-border-color);
    transition: 0.3s;
}


.content-container {
    display: flex;
    flex-direction: column;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: 100%;
    border: 2px solid var(--panel-border-color);
    border-top-left-radius: 25px;
}

.header {
    padding: 35px 0 20px 100px;
    border-bottom: 1px solid var(--panel-border-color);
    border-top-left-radius: 25px;
    margin-bottom: 20px;
    background-color: var(--header-background-color);
}

.header__menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.header__menu__list {
    list-style: none;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__menu__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    min-width: 120px;
    padding: 5px 40px 5px 0;
}

.header__menu__item:hover {
    color: var(--text-color-active);
    transition: 0.3s;
}

.header__menu__input-field input {
    width: 400px;
    height: 40px;
    background-color: var(--input-field-background-color);
    color: var(--text-color-inactive);
    border: 1px solid var(--panel-border-color);
    border-radius: 4px;
    padding: 2px 15px;
    font-size: 24px;
}


.content {
    padding: 0 150px 0 100px;
}

.content__header {
    color: var(--text-color-active);
    margin: 20px 0 10px 10px;
    font-size: 50px;
}

.content__grid-section {
    display: grid;
    grid-template-columns: 50% 50%;
}

.content__section {
    margin: 20px 20px 0 0;
    padding: 40px;
    background-color: var(--content-section-background-color);
    border-radius: 10px;
    overflow: hidden;
}

.content__section:hover {
    background-color: var(--content-section-background-color-active);
    color: var(--text-color-active);
    transition: 0.4s;
}

.content__single-column-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content__section__header {
    margin-bottom: 20px;
    color: var(--text-color-active);
    font-size: 20px;
}

.content__section__code {
    font-family: 'Consolas', sans-serif;
}


footer {
    margin-top: 40px;
    font-size: 15px;
    padding: 20px;
    border-top: 1px solid var(--line-color);
    text-align: center;
}